/* .main {
   width: 100vw;
   height: 100vh;
   background-color: rgba(54, 54, 54, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */
input {
   &::-webkit-outer-spin-button {
      -webkit-appearance: none;
   }
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
   }
}
input[type="number"] {
   -moz-appearance: textfield;
}
.signupParentDiv {
   border: 1px solid black;
   width: max-content;
   padding: 10px;
   border-radius: 6px;
   background-color: #fff;
   .btnClose {
      font-size: 1.5rem;
      margin-left: 95%;
      color: rgb(80, 80, 80);
      cursor: pointer;
   }
   .imgDiv {
      display: flex;
      justify-content: center;
      img {
         width: 200px;
         height: 200px;
      }
   }
   .input {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      outline-color: transparent;
      width: 24rem;
   }
   button {
      width: 100%;
      height: 48px;
      border-radius: 6px;
      border-color: transparent;
      background-color: #002f34;
      color: whitesmoke;
      font-weight: 900;
      margin-bottom: 0.2rem;
      &:hover {
         color: #002f34;
         border: 2px solid #002f34;
         background-color: honeydew;
      }
   }
   a {
      display: flex;
      justify-content: center;
      cursor: pointer;
   }
   .login {
      button {
         color: #002f34;
         background-color: #fff;
         border: 2px solid #002f34;
         &:hover {
            background-color: honeydew;
         }
      }
   }
}
