.viewParentDiv {
   background-color: #f2f4f5;
   height: 100vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 4rem 0 0 0;
   color: #002f34;
   .imageShowDiv {
      img {
         width: 65vw;
         height: calc(100vh - 6rem);
         border-radius: 4px;
      }
   }
   .rightSection {
      width: 30vw;
      height: calc(100vh - 6rem);
      padding: 1rem;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 4px;
      background-color: #eeeeee;
      .productDetails {
         padding: 0.5rem 1rem;
         border: 1px solid rgb(199, 199, 199);
         border-radius: 4px;
         margin-bottom: 2rem;
         > :first-child {
            font-weight: 500;
            font-size: 30px;
         }
         > :nth-child(2) {
            font-weight: 700;
            font-size: 35px;
            margin-top: -1rem;
         }
         > :nth-child(3) {
            font-size: 20px;
         }
         > :nth-child(4) {
            font-size: 15px;
            color: #00434b;
         }
      }
      .contactDetails {
         border: 1px solid rgb(199, 199, 199);
         border-radius: 4px;
         padding: 0.5rem 1rem;
         > :first-child {
            font-size: 25px;
            font-weight: 600;
         }
         > :nth-child(2) {
            font-weight: 500;
            font-size: 20px;
         }
      }
   }
}
