.recommendations {
   /* background-color: #3ea6c9; */
   margin: 2rem auto;
   padding: 16px;
   width: 90%;
   /* background-color: darkcyan; */
}

.recommendations .heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 24px;
   color: #002f34;
}

/* .recommendations .heading :first-child {} */

/* .recommendations .heading :last-child {
   font-size: 14px;
   font-weight: 700;
   color: #002f34;
   text-decoration: underline;
   margin-right: 0;
} */

.recommendations .cardParent {
   /* display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
   scrollbar-width: none; */
   /* margin: .5rem auto; */
   /* background-color: rgb(171, 171, 216); */
   /* width: 90%; */
   /* margin: 0 auto; */
   /* padding: 0 0 0 9%; */
}

.recommendations .cardParent .cards {
   margin: 0 1.5rem 1rem 0;
   padding: 3px 10px;
   border: solid 1px rgb(197, 197, 197);
   border-radius: 5px;
   background-color: #fff;
   cursor: pointer;
   /* background-color: rgb(247, 174, 148); */
   width: 22.9%;
   height: 16.5rem;
   display: inline-block;
}

/* .recommendations .cardParent .cards:first-child {
   margin: .5rem .5rem .5rem 0;
} */

.recommendations .cardParent .cards .imgFav {
   display: flex;
   justify-content: center;
   /* background-color: crimson; */
}

.recommendations .cardParent .cards .imgFav .image {
   width: 14.5rem;
   height: 9rem;
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: 5px 0; */
   /* background-color: cyan; */
   margin-bottom: 1.1rem;
}

.recommendations .cardParent .cards .imgFav .image img {
   /* position: relative; */
   max-width: 90%;
   max-height: 75%;
   margin: 0 0 1.4rem 1.3rem;
}

.recommendations .cardParent .cards .imgFav .favorite svg {
   /* margin: 0 -.2rem 0 0; */
}

.recommendations .cardParent .cards .content {
   /* padding-bottom: .5rem; */
   /* margin-bottom: 1rem; */
}

.recommendations .cardParent .cards .content p {
   margin-bottom: 0;
}

.recommendations .cardParent .cards .content .price {
   /* margin-top: 10px; */
   font-size: larger;
   font-weight: bold;
}

.recommendations .cardParent .cards .content .name {
   font-size: large;
   color: #002f34;
}

.recommendations .cardParent .cards .content .category {
   font-size: smaller;
}

.recommendations .cardParent .cards .date {
   display: flex;
   justify-content: flex-end;
   font-size: small;
   color: gray;
}

.recommendations .cardParent .cards .date span {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

/* ********* */

.loadMore button {
   background-color: white;
   width: 6.6rem;
   height: 3rem;
   border: 2px solid #002f34;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem auto;
   color: #002f34;
   font-weight: bold;
}

.loadMore button:hover {
   border-width: 5px;
}
