.quickMenu {
   background-color: #ebeeef;
   margin: 2rem auto;
   padding: 16px;
   border-radius: 4px;
   width: 90%;
}

.quickMenu .heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.quickMenu .heading :first-child {
   font-size: 24px;
   color: #002f34;
}

.quickMenu .heading :last-child {
   font-size: 14px;
   font-weight: 700;
   color: #002f34;
   text-decoration: underline;
   margin-right: 0;
}

.quickMenu .cardParent {
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
   scrollbar-width: none;
}

.quickMenu .cardParent::-webkit-scrollbar {
   display: none;
}

.quickMenu .cardParent .cards {
   margin: 0.5rem 0.9rem;
   padding: 3px 10px 5px 10px;
   border: solid 1px rgb(197, 197, 197);
   border-radius: 5px;
   background-color: #fff;
   cursor: pointer;
}

.quickMenu .cardParent .cards:first-child {
   margin: 0.5rem 0.5rem 0.5rem 0;
}

.quickMenu .cardParent .cards .imgFav {
   display: flex;
   justify-content: center;
}

.quickMenu .cardParent .cards .imgFav .image {
   width: 14.5rem;
   height: 9rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px 0;
}

.quickMenu .cardParent .cards .imgFav .image img {
   position: relative;
   max-width: 13rem;
   max-height: 8rem;
   margin: 0 0 1.4rem 1.3rem;
}

.quickMenu .cardParent .cards .imgFav .favorite svg {
   margin: 0 -0.2rem 0 0;
}

.quickMenu .cardParent .cards .content {
   padding-bottom: 1rem;
}

.quickMenu .cardParent .cards .content p {
   margin-bottom: 0;
}

.quickMenu .cardParent .cards .content .price {
   /* margin-top: 10px; */
   font-size: larger;
   font-weight: bold;
}

.quickMenu .cardParent .cards .content .name {
   font-size: large;
   color: #002f34;
}

.quickMenu .cardParent .cards .content .category {
   font-size: smaller;
}

.quickMenu .cardParent .cards .date {
   display: flex;
   justify-content: flex-end;
   font-size: small;
   color: gray;
}

.quickMenu .cardParent .cards .date span {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
