.test {
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
}

.tt {
   margin: 0.5rem 0.5rem;
   padding: 10px;
   border: solid 1px rgb(177, 177, 177);
   border-radius: 5px;
}

.it img {
   width: 12rem;
   height: 7rem;
}

.tt .favorite {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.da span {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.moreView {
   /* margin: 16px 16px 24px; */
   margin: 16px auto;
   padding: 16px 0 0 16px;
   background-color: #ebeeef;
   border-radius: 4px;
   width: 95%;
}

.heading1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* width: 100%; */
}

.heading1 :first-child {
   font-size: 24px;
   color: #002f34;
}

.heading1 :last-child {
   font-size: 14px;
   font-weight: 700;
   color: #002f34;
   text-decoration: underline;
   margin-right: 16px;
}

.moreView .cards {
   /* white-space: nowrap; */
   /* display: flex; */
   /* display: inline-flex; */
   /* display: flex; */
   /* overflow-x: scroll;
   overflow-y: hidden;
   padding: .5rem 0 .85rem 0;
   scrollbar-width: none; */
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
}

.moreView .cards::-webkit-scrollbar {
   /* display: none; */
}

.card {
   /* margin-right: 15px;
   padding: 13px;
   width: 222px;
   height: 270px; */
   cursor: pointer;
   /* max-width: 222px; */
   /* display: inline-block; */
   /* float: left; */
   margin: 0.5rem 0.5rem;
   padding: 10px;
   border: solid 1px rgb(177, 177, 177);
   border-radius: 5px;
}

.card .favorite {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.card .image {
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

.card .image img {
   /* height: 100px; */
   /* height: inherit;
   width: inherit; */
   /* width: 222px;
   height: 270px; */
   /* max-width: 100%;
   max-height: 100%;
   min-height: 100%;
   text-align: center; */
   width: 12rem;
   height: 7rem;
}

.card .content .rate {
   margin-top: 10px;
   font-size: larger;
   font-weight: bold;
}

.card .content .kilometer {
   font-size: medium;
}

.card .content .name {
   font-size: small;
}

.card .date {
   display: flex;
   justify-content: flex-end;
   font-size: small;
}

.recommendations {
   width: 95%;
   margin: 0 auto;
   padding: 10px 16px;
}

.recommendations .cards {
   display: flex;
}

.recommendations .heading span {
   font-size: 24px;
   color: #002f34;
}

.loadMore button {
   background-color: white;
   width: 6.6rem;
   height: 3rem;
   border: 2px solid #002f34;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem auto;
   color: #002f34;
   font-weight: bold;
}

.loadMore button:hover {
   border-width: 5px;
}
