.quickMenu {
   background-color: #ebeeef;
   margin: 2rem auto;
   padding: 16px;
   border-radius: 4px;
   width: 90%;
   .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:first-child {
         font-size: 24px;
         color: #002f34;
      }
      &:last-child {
         font-size: 14px;
         font-weight: 700;
         color: #002f34;
         text-decoration: underline;
         margin-right: 0;
      }
   }
   .cardParent {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
      .cards {
         margin: 0.5rem 0.9rem;
         padding: 3px 10px 5px 10px;
         border: solid 1px rgb(197, 197, 197);
         border-radius: 5px;
         background-color: #fff;
         cursor: pointer;
         &:first-child {
            margin: 0.5rem 0.5rem 0.5rem 0;
         }
         .imgFav {
            display: flex;
            justify-content: center;
            .image {
               width: 14.5rem;
               height: 9rem;
               display: flex;
               justify-content: center;
               align-items: center;
               margin: 5px 0;
               img {
                  position: relative;
                  max-width: 13rem;
                  max-height: 8rem;
                  margin: 0 0 1.4rem 1.3rem;
               }
            }
            .favorite {
               svg {
                  margin: 0 -0.2rem 0 0;
               }
               // & :hover {
               //    fill: crimson;
               // }
               i {
                  font-size: larger;
               }
            }
         }
         .content {
            padding-bottom: 1rem;
            p {
               margin-bottom: 0;
            }
            .price {
               font-size: larger;
               font-weight: bold;
            }
            .name {
               font-size: large;
               color: #002f34;
            }
            .category {
               font-size: smaller;
            }
         }
         .date {
            display: flex;
            justify-content: flex-end;
            font-size: small;
            color: gray;
            span {
               display: flex;
               justify-content: flex-end;
               align-items: center;
            }
         }
      }
   }
}
