.parentDivCreate {
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   h1 {
      font-size: x-large;
      font-weight: 500;
      text-align: center;
      margin: 0 0 1rem 0;
   }
   .parentDetailDiv {
      border: 1px solid rgb(199, 199, 199);
      width: max-content;
      // width: 60%;
      padding: 2rem;
      border-radius: 3px;
      display: flex;
      .addDetails {
         .input {
            outline-color: #0296a7;
            width: 30rem;
            height: 3rem;
            border: 1px solid rgb(110, 110, 110);
            border-radius: 0.2rem;
            padding: 0.5rem;
         }
         .priceDiv {
            display: flex;
            align-items: center;
            width: 30rem;
            height: 3rem;
            border: 1px solid rgb(110, 110, 110);
            border-radius: 0.2rem;
            padding: 0 0 0 0.5rem;
            h1 {
               font-size: medium;
               font-weight: 300;
               color: rgba(0, 47, 52, 0.64);
               margin: 0;
            }
            .inputPrice {
               margin: 0 0 0 0.5rem;
               width: 28rem;
               height: 2rem;
               padding: 0.5rem 0 0.5rem 0.5rem;
               outline: none;
               border-top-color: transparent;
               border-right-color: transparent;
               border-bottom-color: transparent;
               border-left-color: rgba(0, 47, 52, 0.308);
               border-left-width: thin;
            }
         }
      }
      .addImg {
         margin: 2rem 2rem 0 4rem;
         .imgBorder {
            border: 2px solid;
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.15rem;
            // cursor: copy;
            label {
               margin: 0 0 1px 0;
               cursor: copy;
               img {
                  max-width: 116px;
                  max-height: 116px;
               }
               div {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin: 15% 0 0 0;
                  i {
                     // cursor: pointer;
                     font-size: 3rem;
                  }
                  p {
                     margin: 0.5rem 0 0 0;
                     font-size: 0.9rem;
                     font-weight: 400;
                  }
               }
            }
         }
         .closeImg {
            font-size: 15px;
            position: relative;
            top: -118px;
            right: -98px;
            background-color: rgb(163, 163, 163);
            padding: 5px;
            cursor: pointer;
         }
      }
   }
   .uploadBtn {
      margin-top: 30px;
      width: 100%;
      height: 48px;
      background-color: #002f34;
      color: whitesmoke;
      font-weight: 900;
      &:hover {
         background-color: white;
         color: #002f34;
         border: 2px solid #002f34;
      }
   }
}

@media screen and (max-width: 800px) {
   .parentDivCreate {
      .parentDetailDiv {
         .addDetails {
            .input {
               // width: 15rem;
               width: 15rem;
            }
            .priceDiv {
               // width: 15rem;
               width: 15rem;
               .inputPrice {
                  width: 13rem;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 576px) {
   .parentDivCreate {
      top: 65%;
      .parentDetailDiv {
         flex-direction: column;
         align-items: center;
      }
   }
}