.parentDivOLXAd {
   .appAd {
      background: rgba(0, 47, 52, 0.03);
      height: 198px;
      display: grid;
      grid-template-columns: 42% 30.7% 0.3% 27%;
      .adImg {
         background-image: url("https://statics.olx.in/external/base/img/phone-app.webp");
         background-repeat: no-repeat;
         background-position-x: center;
      }
      .adText {
         padding-right: 1rem;
         h1 {
            color: #002f34;
            font-size: xx-large;
            font-weight: bold;
            margin-bottom: 1rem;
            margin-top: 1.7rem;
         }
         p {
            font-size: 20px;
            font-family: "Rubik", sans-serif;
            color: #002f34;
         }
      }
      .line {
         width: 2px;
         height: 8rem;
         margin-right: 1rem;
         background-color: #c6c6c6;
         margin: auto 0;
         border-radius: 1rem;
      }
      .linksParent {
         display: flex;
         align-items: center;
         .linksChild {
            display: grid;
            grid-template-rows: auto auto;
            padding: 0 0 0 1.5rem;
            h5 {
               font-family: "Rubik", sans-serif;
               font-size: 14px;
               font-weight: 600;
               color: #002f34;
            }
            .links {
               a {
                  text-decoration: none;
                  img {
                     width: 8rem;
                     margin: 0.15rem 0;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1000px) {
   .parentDivOLXAd {
      .appAd {
         display: grid;
         grid-template-columns: 72.7% 0.3% 27%;
         .adText {
            display: none;
         }
      }
   }
}
@media screen and (max-width: 520px) {
   .parentDivOLXAd {
      .appAd {
         .line {
            display: none;
         }
      }
   }
}
@media screen and (max-width: 270px) {
   .parentDivOLXAd {
      .appAd {
         .adImg {
            display: none;
         }
      }
   }
}
